.common {
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://total.kz/storage/6d/6d5799b94a5bf9ee228bad00f9481ee3.jpg');
  max-width: 100%;
  object-fit: cover;
}

.searchContainer {
  composes: common;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  min-height: 200px;
}

.logoContainer {
  margin-left: 40px;
  width: 50%;
}
