.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 650px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('https://total.kz/storage/6d/6d5799b94a5bf9ee228bad00f9481ee3.jpg');
  max-width: 100%;
  object-fit: cover;
}

.companyName {
  color: #f65261;
}

.logoAndSearchButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.searchIcon {
}

.filmInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.generalInfo {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 60%;
}

.titleAndRaiting {
  display: flex;
}

.raiting {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 32px;
  margin: 0 0 0 20px;
  color: #a1e66f;
}

.durationAndReleaseYear {
  display: flex;
  color: #f65261;
  font-size: 28px;
  width: 35%;
  justify-content: space-between;
}

.description {
  font-size: 18px;
  max-width: 80%;
  margin: 0;
}
