.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #424242;
}

.companyName {
  color: #f65261;
}

.filmsCardsSortingSummary {
  display: flex;
  min-height: 60px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
