.film-info-card {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 590px;
  padding: 20px 0;
}

.film-info-card-summary {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-top: 20px;
}

.title-relise {
  display: flex;
  justify-content: space-between;
}

.film-title,
.film-relise {
  margin: 0;
}

.film-title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.film-relise {
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.film-genre {
  margin: 0;
  font-size: 14px;
}
