.films-cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #232323;
  min-height: 500px;
}

.no-films-message {
  width: 100%;
  margin: 0 auto;
}
